In [2]:
import os
import gc
import sys
import warnings
from pathlib import Path

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose

In [3]:
df_names = ['playerBoxScores', 'teamBoxScores', 'playerTwitterFollowers', 'teamTwitterFollowers', 'awards', 'events',
           'games', 'standings', 'rosters', 'transactions']
path = "data/train_vs/"

train_dict = {}
for index in range(len(df_names)):
    train_dict[df_names[index]] = pd.read_pickle(os.path.join(path,df_names[index]) + "_train.pkl")

In [4]:
df_names = ['seasons', 'teams', 'players', 'awards']
path = "data/"

my_dict = {}
for index in range(len(df_names)):
    my_dict[df_names[index]] = pd.read_csv(os.path.join(path,df_names[index]) + ".csv")

In [5]:
target_v = pd.read_pickle('data/target_v/nextDayPlayerEngagement_train.pkl')

In [30]:
target_dict = {id: target_v[target_v['playerId']==id].set_index('playerId') for id in target_v['playerId'].unique()}

In [37]:
target_dict[112526].shape

(1216, 7)

## Dictionary for playerBoxScores

In [32]:
playerBS_dict = {id: train_dict['playerBoxScores'][
    train_dict['playerBoxScores']['playerId']==id].set_index('playerId') for id in target_v['playerId'].unique()}

In [33]:
playerBS_dict[112526].head(3)

,home,gamePk,gameDate,gameTimeUTC,teamId,teamName,playerName,jerseyNum,positionCode,positionName,...,sacFliesPitching,saves,holds,blownSaves,assists,putOuts,errors,chances,index,date
playerId,,,,,,,,,,,,,,,,,,,,,
112526,0,529469,2018-04-02,2018-04-03T02:05:00Z,140,Texas Rangers,Bartolo Colon,40,1,Pitcher,...,0.0,NaN,NaN,NaN,1.0,0.0,0.0,1.0,91,20180402
112526,1,529546,2018-04-08,2018-04-08T19:05:00Z,140,Texas Rangers,Bartolo Colon,40,1,Pitcher,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,97,20180408
112526,1,529565,2018-04-10,2018-04-11T00:05:00Z,140,Texas Rangers,Bartolo Colon,40,1,Pitcher,...,1.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,99,20180410

In [35]:
a = playerBS_dict[112526][['date', 'positionCode']]

In [36]:
target_dict[112526].merge(a, on = 'date', how = 'left')

,engagementMetricsDate,target1,target2,target3,target4,index,date,positionCode
0,2018-01-02,0.055277,5.496109,0.025839,16.176471,0,20180101,NaN
1,2018-01-03,0.060625,3.252914,0.030486,8.541353,1,20180102,NaN
2,2018-01-04,0.029341,1.648352,0.032613,10.490112,2,20180103,NaN
3,2018-01-05,0.014799,2.665894,0.087422,19.091467,3,20180104,NaN
4,2018-01-06,0.083916,1.161002,0.024759,6.643880,4,20180105,NaN
...,...,...,...,...,...,...,...,...
1211,2021-04-27,0.004056,0.313875,0.029360,29.364441,1211,20210426,NaN
1212,2021-04-28,0.006336,0.348106,0.048772,39.263583,1212,20210427,NaN
1213,2021-04-29,0.004995,0.442478,0.010070,38.893476,1213,20210428,NaN
1214,2021-04-30,0.002869,0.358110,0.032673,61.752832,1214,20210429,NaN
1215,2021-05-01,0.009073,0.412742,0.020685,100.000000,1215,20210430,NaN